@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Tilt+Neon&display=swap');


.FriendRequest{
    height:83vh;
    top: 74px;
    width: 77.8%;
    background-color: rgba(172, 170, 170, 0.164);
    position: fixed;
    z-index: 5;
    padding: 30px;
    right:17px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(204,202,204,1);
-moz-box-shadow: 0px 0px 29px 0px rgba(204,202,204,1);
box-shadow: 0px 0px 29px 0px rgba(204,202,204,1);
}
.FriendRequestCross{
    background-color: rgb(66, 114, 156);

}
.FriendRequestTopRightIconBox{
    cursor: pointer;
    padding: 5px;
    height: 2em;
    width: 2em;
    background-color: aliceblue;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.FriendRequestTopRightIcon{
    font-size: 25px;
}
.FriendsBox{
    display: flex;
    background-color: #fff;
    height:73vh;
    width: 95%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    justify-content: space-around;
}
.FriendRequestBox{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.FriendRequestList{
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;

}
.line{
    height: 95%;
    margin-top: 10px !important;
    margin: 0 2px;
    width: 2px;
    background-color: rgb(202, 201, 201);
}

.friendSuggestionBox{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.friendSuggestionList{
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.BoxScroll::-webkit-scrollbar{
    width: 8px;
    border-radius: 2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}
.BoxScroll::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
.BoxScroll::-webkit-scrollbar-thumb{
    background: rgb(182, 181, 181);
}
.FriendsBoxHr{
    margin: 5px 10px;
}
.FriendsBoxHead{
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}
.FriendRequestListCard{
    height: 110px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}
.FriendRequestListCard:hover{
    box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.75);
}
.profileImgBox{
    width: 60px;
    height: 100%;
}
.RequestProfileImg{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profileDetainBox{
    height: 100%;
    width: 22em;
    display: flex;
    margin: 5px;
    padding: 0 5px;
    flex-direction: column;
    

}
.name{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.buttonsAction{
    display: flex;
    justify-content: space-around;
}
.ActionButton{
    height: 2.5em;
    width: 8em;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.DeleteButton{
    background-color: rgba(255, 38, 0, 0.945);
}
.AcceptButton{
    background-color: rgb(8, 165, 8);
}
.SendRequestButton{
    background-color: rgb(2, 148, 233);
}