.sidebar{
    width: 18%;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: fixed;
    top: 50px;;
    left: 0;
    background-color: rgba(248, 247, 247, 0.466);
}
.sidebar::-webkit-scrollbar{
    width: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.sidebar::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
.sidebar::-webkit-scrollbar-thumb{
    background: rgb(182, 181, 181);
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}
.sidebarListItem:hover .sidebarIcon{
    color: #000;
}
.sidebarIcon{
    color: #8a8989;
    margin-right: 15px;
    font-size: 25px !important;
}
.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 600;
    cursor: pointer;
}
.sidebarButton:hover{
    background-color: rgba(224, 224, 224, 0.966);
}
.sidebarHr{
    margin: 20px 0;

}

.sidebarListItemText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #8a8989;
}
.sidebarListItemText:hover{
    color: #000;
}
.sidebarGroupList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarGroup{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarGroupImg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
